# Config File for the RAG model, Embeddings and FAISS index

[model]
# Options: "asafaya/bert-mini-arabic", "asafaya/albert-base-arabic",
#          "Geotrend/distilbert-base-ar-cased",
#          "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
embed_model = sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
# autotokenizer and model will be auto-loaded from these names
groq_model = llama-3.1-8b-instant
hf_model = meta-llama/Llama-3.1-8B-Instruct

[embedding]
chunk_size = 512
max_length = 512

[search]
top_k = 5